body{
	margin: 0px;
	padding: 0px;
}
#Swapper{
	margin: auto;
	width: 960px;
}
#Header{
	width: 960px;
	height: 200px;
	background-color: #FF0000;
}
	#Header #Bar{
		width: 960px;
		height: 50px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	#Header #Bar #Menu{
		width: 480px;
		height: 50px;
		float: left;
}
		#Header #Bar #Menu ul{
			list-style-type: none;
			margin-left: 20px;
			padding: 0px;
			
		}
		#Header #Bar #Menu ul li{
			float: left;
			
		}
		#Header #Bar #Menu ul li span{
			margin-right: 5px;
			margin-left: 7px;
		}
		#Header #Bar #Menu ul li a{
			text-decoration: none;
			color: #FFFFFF;
		}
		#Header #Bar #Menu ul li a:hover{
			color: #CCCCCC;
		}
		#Header #Bar #SearchBox{
			width: 480px;
			height: 50px;
			float: left;
		}
			#Header #Bar #SearchBox .Box{
				width: 300px;
				height: 20px;
				margin: 10px 20px 0px 0px;
				padding: 5px;
				float: right;
				border-radius: 25px;
				background-color: white;
			}
			#Header #Bar #SearchBox .Box .Search{
				width: 250px;
				height: 20px;
				border: none;
				float: left;
			}
			#Header #Bar #SearchBox .Box .Icon{
				border: none;
				border-radius: 50%;
				background-color: #cc0000;
				padding: 4px;
				float: right;

			}
		#Header #ContentHeader{
		width: 960px;
		height: 150px;
	}
#Center{
	width: 960px;
	height: 1220px;
}
	#Center #TopCenter{
		width: 960px;
		height: 50px;
		background-color: #FFFF33;
	}
		#Center #ContentCenter1{
			width: 960px;
			height: 420px;
		}
		#Center #ContentCenter1 #ContentCenter1Left{
			width: 430px;
			height: 420px;
			background-color: #880000;
			float: left;
		}
		#Center #ContentCenter1 #ContentCenter1Right{
			width: 530px;
			height: 420px;
			background-color: #00FF99;
			float: left;
		}
	#Center #ContentCenter2{
		width: 960px;
		height: 450px;
	}
		#Center #ContentCenter2 #ContentCenter2Left{
			width: 320px;
			height: 450px;
			background-color: #FFFF66;
			float: left;
		}
		#Center #ContentCenter2 #ContentCenter2Between{
			width: 320px;
			height: 450px;
			background-color: #0066CC;
			float: left;
		}
		#Center #ContentCenter2 #ContentCenter2Right{
			width: 320px;
			height: 450px;
			background-color: #BB0000;
			float: left;
		}
	#Center #BottomCenter{
		width: 960px;
		height: 350px;
		background-color: #00CCFF;
	}
#Footer{
	width: 960px;
	height: 64px;
	background-color: #CCFF33;
}
