
* { 
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#Swapper{
	width: 1000px;
	background-color: #cccccc;
	margin: auto;
	padding-top: 10px;
}
#Header{
	height: 200px;
	width: 1000px;
	background-color: #cccccc;
	position: relative;
}
#Menu{
	height: 51px;
	width: 1000px;
	background-color: #333333;
	border: none;
	border-radius: 8px;
	border-top: 2px #555555 solid;
	position: absolute;
	margin-top: 149px;
}
#Menu ul{
	list-style: none;
}
#Menu ul li{
	float: left;
	border-right: 2px solid #444444;
	position: relative;
	margin-top: 5px;
	width: 200px;
}
#Menu ul li #DropDown{
	position: absolute;
	margin-top: 1px;
	margin-left: 15px;
	display: none;
}
#Menu ul li #DropDown:hover{
	display: block;
}
#Menu ul li:last-child{
	border: none;
}
#Menu ul li a{
	text-decoration: none;
	padding: 10px 40px;
	display: block;
	white-space: pre;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
#Menu ul li a:hover{
	color: white;
	background-color: #cccccc;
	transition: all 0.5s 0s linear;
	border-top: 5px #999999 solid;
	border-radius: 15px;
}
#Menu ul li ul{
	background-color: #333333;
	border-radius: 10px;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	position: absolute;
	
}
#Menu ul li ul li{
	float: none;
	border-right: none;
}
#Menu ul li ul li #DropRight{
	width: 25px;
	height: 12px;
	position: absolute;
	margin-left: 1000px;
	margin-top: 2px;
}
#Menu ul li ul li:nth-child(2){
	background-color: #111111;
	padding: 5px 0px 5px 0px;
}
#Menu ul li ul li:nth-child(4){
	background-color: #111111;
	padding: 5px 0px 5px 0px;
}
#Menu ul li ul li a{
	color: #777777;
	text-transform: capitalize;
}
#Menu ul li:hover > ul{
	display: block;
}
#Section{
	height: 900px;
	width: 1000px;
	background-color: #006699;
}
#Footer{
	height: 100px;
	width: 1000px;
	background-color: #cccccc;
}