*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Times New Roman;
}
#swapper{
	width: 1200px;
	height: 570px;
	background-color: red;
	margin: 100px auto;
}

#dangbai{
	width: 900px;
	height: 450px;
	border-left: 5px solid white;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
	margin: auto;
	background-color: #cccccc;
}

h1{
	border-bottom: 3px solid white;
	padding: 10px 5px;
	text-align: center;
}
#main-content{
	width: 600px;
	height: 390px;
	float: left;
	margin-left: 10px;
	border-right: 5px solid white;
}
.title{
	margin: 20px 0;
}
.ptag{
	float: left;
}
.iptitle{
	margin-left: 50px;
	width: 450px;
	height: 20px;
}
.link{
	margin: 20px 0;
}
.alink{
	width: 400px;
	margin-left: 15px;
	overflow: auto;
}
.content{
	margin: 20px 0;
}
.ipcontent{
	margin-left: 38px;
	width: 450px;
	height: 150px;
}
.lich{
	margin: 20px 0;
}
.lichdang{
	padding-top: -20px;
	margin-left: 100px;
}
.dangngay{
	margin-right: 5px;
}
.datlich{
	margin-right: 5px;
}
.datetime{
	margin-left: 10px;
	width: 222px;
	height: 20px;
}
.post{
	margin: 40px 0;
}
.dangbai{
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
}
.reset{
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid black;
	margin-left: 20px;
	outline: none;
}
#more{
	width: 285px;
	height: 100%;
	float: right;
}
h3{
	width: 100%;
	margin: 20px 10px;
}



.ptag1{
	font-size: 15px;
	margin-bottom: 5px;
}


.email{
	margin-left: 10px;
	margin-bottom: 15px;
}
.ipemail{
	width: 255px;
	height: 20px;
}


.sdt{
	margin-left: 10px;
	margin-bottom: 25px;
}
.ipsdt{
	width: 255px;
	height: 20px;
}


.tag{
	margin-left: 10px;
}
.tag .ptag1{
	padding-top: 10px;
	margin-bottom: 10px;
}
.tag-content{
	background-color: white;
	width: 255px;
}
.iptag{
	width: 180px;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
}
.btnadd{
	width: 45px;
	margin-left: 5px;
	padding: 2.5px 2px;
}
.tag-ins{
	font-size: 12px;
	margin-left: 10px;
	margin-top: 25px;
}
.tag-list{
	font-size: 14px;
	margin: 15px 10px;
	padding-bottom: 37px;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: red;
}
