*{
	margin:0px;
	padding: 0px;
}
/*style box default*/
@font-face{
	font-family: cusFont;
	src:url("arial.ttf");
}
*{
	font-family: cusFont;
	text-decoration: none;
}
a:hover{
	color: #dc002a;
}
.default{
	width:initial;
	height: auto;
	margin: 0px auto;
	/*background-color: #ccc;*/
}
.match-paren{
	width: 100%;
	height: auto;
}
.width-980{
	margin: 0px auto;
	width: 980px;
	height: auto;
}
.side-left{
	float: left;
}
.side-right{
	float: right;
	text-align: right;
}
.width-50{
	width: 50%;
}
.width-30{
	width: 30%;
}
.width-40{
	width: 40%;
}
.width-70{
	width: 70%;
}
.width-80{
	width: 80%;
}
.rows{
	width: 100%;
	height: auto;
	/*background-color: #ccc;*/
}
.clear{
	clear: both;
}
/*
* style menu default
*/
.nav{width: initial;height: auto}
.menu-bar{
	list-style: none;
}
.menu-bar li{
	display: inline-block;
	/*background-color: red;*/
	/*float: left;*/
	padding: 0px;
	position: relative;
}
.menu-bar li img.drop-icon{
	position: absolute;
}
.menu-bar li a{
	text-decoration: none;
}
.menu-bar ul.child-level{
	display: none;
	position: absolute;
	/*background-color: red;*/
	top: 0;
	left: 100%;
}
.menu-bar>li>ul.child-level{
	top: 100%;
	left: 0;
}
.menu-bar li:hover>ul.child-level{
	display: block;
}
#content{}
#footer{
	margin-bottom: 20px;
}
/* __________end style default
 * style header
 * style top menu, main menu
 */
.top-bar{
	background-color: #f9f9f9;
	height: 25px;
}
.menu-top li{
	padding: 5px 7px 5px 0px;
	font-size: 12px;
	/*background-color: red;*/
	height: initial;
}
.menu-top li a{
	font-size: 11px;
	color: #000;
	text-transform: capitalize;
}
.menu-top li a:hover{
	color: #dc002a;
}
.top-right li{
	/*padding: 0px 0px 0px 0px;*/
}
.top-right li img.icon{
	width: 10px;
	height: initial;
}
/*
* end menu top
* style main menu
*/
.navs-main{
	height: 30px;
	border-bottom: 2px solid #ba0017;

}
.menu-main{
	height: initial;
	background-color: #dc002a;
	position: relative;
	z-index: 1;	
}
.menu-main>li{
	padding:7px 10px 5px 10px;
	position: static;
	float: left;
	display: block;
}
.menu-main>li:first-child, .menu-main>li#ic-find{
	background-repeat: no-repeat;
	background-position: 9px 6px;
	background-size: 20px;
}
.menu-main>li:first-child{ /*set color and icon home*/
	background-color: #ba0017;
	background-image: url('../img/ic-home.png');
	
}
.menu-main>li#ic-find{ /*set color and icon search*/
	background-image: url('../img/ic-find.png');
	float: right;
}
.menu-main>li:hover{
	background-color: #ba0017;
}
.menu-main li a{
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}
.menu-main .child-level section.find-box{ /*search box style*/
	box-sizing: border-box;
	padding: 10px;
	/*position: relative;*/
}
.menu-main .child-level .find-box input.find-text{
	height: 40px;
	width: 100%;
	box-sizing: border-box;
}
.menu-main .child-level .find-box input.find-btn{
	position: absolute;
	top: 27px;
	right: 15px;
	height: 30px;
	width: 30px;
	border: none;
	outline: none;
	/*set background img*/
	background-image: url('../img/ic-find-2.png');
	background-color: unset;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 24px;
	background-position: 2px;

}


.menu-main .child-level{ /*child level*/
	background-color:#fff;
	width: 100%;
	/*border:1px solid #ccc;*/
	box-shadow: 0px 1px 10px 2px #999;
	box-sizing: border-box;
	padding: 10px 0px 10px 0px;
}
.menu-main .child-level li{
	display: block;
	border-bottom: 1px dotted #ccc;
	padding:5px 0px 5px 20px;
	transition: 0.2s;
	text-transform: capitalize;
}
.menu-main .child-level li:last-child{
	border-bottom:none;
}
.menu-main .child-level li:hover{
	padding-left: 25px;
	color: #ba0017;
}
.menu-main .child-level li:hover a{color: #ba0017;}
.menu-main .child-level li a{
	color: #000;
	text-transform: capitalize;
}
#header .banner{
	height: 100px;
	background-color: #ccc;
}
/* end header
 * style content
*/
/*
* style for row 1
*/
#content .sideSetSize{
	min-height: 100px;
	/*background-color: #ccc;*/
}
.match-paren ul.list-bar{
	list-style-type: square;
}
.match-paren ul.list-bar li:nth-child(2), .match-paren ul.list-bar li:last-child{
	/*style list bar*/
	float: right;
}
#content .side-left .img-side{
	/*background-color: red;*/
	
}
#content .side-left .img-side img.img-433{ /*--------style avata photo */
	width: 433px;
	max-height: 243px;
}
#content .side-left .img-side img.img-208{
	/*width: 220px;*/
	width: 100%;
	max-height: 122px;
}
/*
* top - news now
*/
#content .side-left .big-title,#content .side-left .normal-title{ /*item title */
	margin-bottom: 10px;
}
#content .side-left .big-title a{
	font-size: 25px;
	color: black;
}
#content .side-left .normal-title a{
	font-size: 16px;
	color: black;
}

#content .side-left .quick-links{ /*style for quick links*/
	width: 100%;
	height: auto;
}
.list{ /*quick link list*/
	box-sizing: border-box; 
	/*padding: 20px;*/
	border-top: 1px solid #999;
	margin-top: 20px;
}
.list li a{
	color: #333;
}
.inline li{ /*quick link block inline*/
	float: left;
	/*display: inline-flex;*/
	list-style: none;
	width: 32%;
	min-height: 10px;
	/*background-color: red;*/
	box-sizing: border-box;
}
#content .side-left .date-time{
	color: #939393;
	font-size: 16px;
}
#content .side-left .date-time img{
	width: 14px;
	height: 14px;
}
#content .side-left .descr{
	margin-top: 10px;
}
#content .side-left .descr span{
	font-size: 14px;
	color: #939393;
}
#content .inline li:first-child{
	margin-right: 2%;
}
#content .inline li:nth-child(2){
	margin-right: 2%;
}

/*
* style for row 2
*/
#content .list-item-header{
	margin-top: 20px;
	
}
#content .list-item-header h3.center{
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
}
#content .list-item-header a.text-center{
	color: #fff;
	background-color: #dc002a;
	padding: 5px 10px 5px 10px;
}
#content .list-item-header hr{
	width: 100%;
	/*border: 1px solid #dc002a;*/
	margin-top: 5px;
	background-color: #dc002a;
}
#content .side-left .list-side a{
	font-weight: bold;
	font-size: 16px;
	color: #000;
}
#content .side-left .list-side li{
	border-bottom: 1px dotted #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content .side-left .list-side li:last-child{
	border-bottom: none;
}
#content .list-item-header h2{
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 20px;
}
#content .list-item-header h2 a{
	color: #000;
}
/*
* style for list and grid view: div,artical,section,p tag;
*/
#content .list-style{}
.grid{
	width: 100%;
	height: auto;
	/*background-color: red;*/
}
.grid .grid-style{
	float: left;
}
/*
+ cols 3
*/
.grid .cols-3{
	width:32%;
	margin-right:2%;
	/*background-color: blue;*/

}
.grid .cols-3:nth-child(3){
	margin-right:unset;
}
/*
+ cols 4
*/
.grid .cols-4{
	width: 25%;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
.grid .cols-4 img{width: 100%;}
.grid p a{color: #fff;}
.grid p{margin-top: 5px;}
.grid ul.liStyle-none li{
	display: block;
	padding-top: 10px;
	padding-bottom: 30px;
}
/*
+ cols 5
*/
.grid .cols-5{
	width: 20%;
	min-height: 10px;
	/*background-color: red;*/
	box-sizing: border-box;
	padding: 10px;
}
.grid .cols-5 li{
	padding-top: 0;
	padding-bottom: 5px;
	font-size: 12px;
}
.grid .cols-5 header h3{
	font-size: 13px;
}
.grid .set-border-top li{
	border-top: 1px solid #999;
}
.grid ul.set-border-top li:first-child{
	padding-top: unset;
	border-top: unset;
}
.grid ul.liStyle-none li:last-child{
	padding-bottom: unset;
}
.grid .set-border-top li{
	border-top: 1px solid #999;
}
/*
* style for video
*/
.videos-panel{
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #333;
}
.videos-panel .videos{
	width: 100%;
	height: 390px;
	
}
.videos-panel h3{
	color: #fff;
}

.footer-menu-bar{
	background-color: #f6f6f6;
}