*{
	margin:0px;
	padding: 0px;
}
a:hover{
	color: #ba0017;
}
/*
*style box default
* set font family
*/
/* arial-italic */
@font-face{ 
	font-family: arial-italic;
	src:url("../media/fonts/ariali.ttf");
}
/* arial-regular */
@font-face{
	font-family: arial-regular;
	src:url("../media/fonts/arialr.ttf");
}
/* arial-bold */
@font-face{
	font-family: arial-bold;
	src:url("../media/fonts/arialbd.ttf");
}
/* NotoSerif-Bold */
@font-face{
	font-family: NotoSerif-Bold;
	src: url("../media/fonts/NotoSerif-Bold.ttf");
}
/* NotoSerif-Regular */
@font-face{
	font-family: NotoSerif-Regular;
	src: url("../media/fonts/NotoSerif-Regular.ttf");
}
*{
	font-family: NotoSerif-Regular;
	text-decoration: none;
}

.default{
	width:initial;
	height: auto;
	margin: 0px auto;
	/*background-color: #ccc;*/
}
.match-paren{
	width: 100%;
	height: auto;
}
.width-980{
	margin: 0px auto;
	width: 980px;
	height: auto;
}
.side-left{
	float: left;
}
.side-right{
	float: right;
	text-align: right;
}
.width-50{
	width: 50%;
}
.width-30{
	width: 30%;
}
.width-40{
	width: 40%;
}
.width-70{
	width: 70%;
}
.width-80{
	width: 80%;
}
.rows{
	width: 100%;
	height: auto;
	/*background-color: #ccc;*/
}
.clear{
	clear: both;
}
/*
* style menu default
*/
.nav{width: initial;height: auto}
.menu-bar{
	list-style:square;
}
.menu-bar li{
	display: inline-block;
	/*background-color: red;*/
	/*float: left;*/
	padding: 0px;
	position: relative;
}
.menu-bar li img.drop-icon{
	position: absolute;
}
.menu-bar li a{
	text-decoration: none;
}
.menu-bar ul.child-level{
	display: none;
	position: absolute;
	/*background-color: red;*/
	top: 0;
	left: 100%;
}
.menu-bar>li>ul.child-level{
	top: 100%;
	left: 0;
}
.menu-bar li:hover>ul.child-level{
	display: block;
}
#content{}
#footer{
	margin-bottom: 20px;
}
/* __________end style default
 * style header
 * style top menu, main menu
 */
.top-bar{
	background-color: #f9f9f9;
	min-height: 25px;
}
.menu-top li{
	/* display: inline-block; */
	padding: 5px 7px 5px 0px;
	font-size: 12px;
	/*background-color: red;*/
	height: initial;
}
.menu-top li a{
	font-size: 11px;
	color: #000;
	text-transform: capitalize;
	font-family: arial-regular;
}
.menu-top li a:hover{
	color: #dc002a;
}
.top-right li{
	/*padding: 0px 0px 0px 0px;*/
}
.top-right li img.icon{
	width: 10px;
	height: initial;
}
.top-right li span{
	font-family: arial-regular;
}
/*
* end menu top
* style main menu
*/
.navs-main{
	height: 30px;
	border-bottom: 2px solid #ba0017;
}
.menu-main{
	height: initial;
	background-color: #dc002a;
	position: relative;
	z-index: 1;	
}
.menu-main>li{
	padding:5px 10px 5px 10px;
	position: static;
	float: left;
	display: block;
}
.menu-main>li:first-child, .menu-main>li#ic-find{
	background-repeat: no-repeat;
	background-position: 9px 6px;
	background-size: 20px;
}
.menu-main>li:first-child{ /*set color and icon home*/
	background-color: #ba0017;
	background-image: url('../img/ic-home.png');
	
}
.menu-main>li#ic-find{ /*set color and icon search*/
	background-image: url('../img/ic-find.png');
	float: right;
}
.menu-main>li:hover{
	background-color: #ba0017;
}
.menu-main>li>a{
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-family: arial;
}
.menu-main .child-level section.find-box{ /*search box style*/
	box-sizing: border-box;
	padding: 10px;
	/*position: relative;*/
}
.menu-main .child-level .find-box input.find-text{
	height: 40px;
	width: 100%;
	box-sizing: border-box;
}
.menu-main .child-level .find-box input.find-btn{
	position: absolute;
	top: 27px;
	right: 15px;
	height: 30px;
	width: 30px;
	border: none;
	outline: none;
	/*set background img*/
	background-image: url('../img/ic-find-2.png');
	background-color: unset;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 24px;
	background-position: 2px;

}


.menu-main .child-level{ /*child level*/
	background-color:#fff;
	width: 100%;
	/*border:1px solid #ccc;*/
	box-shadow: 0px 1px 10px 2px #999;
	box-sizing: border-box;
	padding: 10px 0px 10px 0px;
	font-size: 13px;
}
.menu-main .child-level li{
	display: block;
	border-bottom: 1px dotted #ccc;
	padding:5px 0px 5px 0px;
	transition: 0.2s;
	text-transform: capitalize;
}
.menu-main .child-level li:last-child{
	border-bottom:none;
}
.menu-main .child-level li:hover{
	padding-left: 5px;
	color: #ba0017;
}
.menu-main .child-level li:hover a{color: #ba0017;}
.menu-main .child-level li a{
	color: #000;
	text-transform: capitalize;
	font-family: arial;
	font-size: 15px;
}
#header .banner{
	min-height: 100px;
	/* background-color: #ccc; */
}
/* end header
 * style content
*/
/*
* style for row 1
*/
#content .sideSetSize{
	min-height: 100px;
	/*background-color: #ccc;*/
}
ul.list-bar{
	list-style: square;
	box-sizing: border-box;
}

ul.list-bar li{
	float: left;
	margin: 10px 25px 0px 25px;
}
ul.list-bar li:nth-child(1){
	margin-left: 35px;
}
ul.list-bar li:nth-child(4), .match-paren ul.list-bar li:nth-child(3),.match-paren ul.list-bar li:nth-child(2){
	float: right;
}
ul.list-bar li:nth-child(2){
	list-style: none;
}
ul.list-bar li a, ul.list-bar li{
	color: #333;
	font-size: 13px;
	font-family: arial-regular;
}
/* 
+ style for img-side
*/
.img-side{ 
	/*background-color: red;*/
	width: 100%;
}
.side-left .img-side img.img-433{ /*--------style avata photo */
	width: 98%;
	max-height: 243px;
}
.side-left .img-side img.img-208{
	/*width: 220px;*/
	width: 100%;
	height: auto;
}
/*
* top - news now
*/
.side-left .big-title, .side-left .normal-title{ /*item title */
	margin-bottom: 10px;
}
.side-left .big-title a{
	font-size: 25px;
	color: black;
}
.side-left .normal-title a{
	font-size: 14px;
	color: black;
	font-family: NotoSerif-Regular;
}

#content .side-left .quick-links{ /*style for quick links*/
	width: 100%;
	height: auto;
}
.list{ /*quick link list*/
	box-sizing: border-box; 
	/*padding: 20px;*/
	border-top: 1px solid #999;
	margin-top: 20px;
	list-style: none;
	padding-top: 20px;
}
.list li a{
	color: #333;
	font-family: arial;
	font-size: 16px;
}
.inline li{ /*quick link block inline*/
	float: left;
	/*display: inline-flex;*/
	list-style: none;
	width: 32%;
	min-height: 10px;
	/*background-color: red;*/
	box-sizing: border-box;
}
/* .child-level .list li{
	margin-bottom: 20px;
	pointer-events: none;
	cursor: pointer;
} */
/* b.bf{
	display: block;
	float: left;
	height: inherit;
} */


#content .side-left .date-time{
	color: #939393;
	font-size: 16px;
}
#content .side-left .date-time img{
	width: 14px;
	height: 14px;
}
#content .side-left .descr{
	margin-top: 10px;
}
#content .side-left .descr span{
	font-size: 14px;
	color: #939393;
}
#content .inline li:first-child{
	margin-right: 2%;
}
#content .inline li:nth-child(2){
	margin-right: 2%;
}

/*
* style for row 2
*/
#content .list-item-header{
	margin-top: 20px;
	
}
#content .list-item-header h3.center{
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
}
#content .list-item-header a.text-center{
	color: #fff;
	background-color: #dc002a;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-family: arial-bold;
}
#content .list-item-header hr{
	width: 100%;
	margin-top: 5px;
	background-color: #dc002a;
}
#content .side-left .list-side a{
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
#content .side-left .list-side li{
	border-bottom: 1px dotted #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content .side-left .list-side li:last-child{
	border-bottom: none;
}
#content .list-item-header h2{
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 20px;
}
#content .list-item-header h2 a{
	color: #000;
}
/*
* style for list and grid view: div,artical,section,p tag;
*/
#content .list-style{}
.grid{
	width: 100%;
	height: auto;
	/*background-color: red;*/
}
.grid .grid-style{
	float: left;
}
/*
+ cols 3
*/
.grid .cols-3{
	width:32%;
	margin-right:2%;
	/*background-color: blue;*/

}
.grid .cols-3:nth-child(3){
	margin-right:unset;
}
/*
+ cols 4
*/
.grid .cols-4{
	width: 25%;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
.grid .cols-4 img{width: 100%;}
.grid p a{color: #fff;}
.grid p{margin-top: 5px;}
.grid ul.liStyle-none li{
	display: block;
	padding-top: 10px;
	padding-bottom: 30px;
}
/*
+ cols 5
*/
.grid .cols-5{
	width: 20%;
	min-height: 10px;
	/*background-color: red;*/
	box-sizing: border-box;
	padding: 10px;
}
.grid .cols-5 li a:hover{
	color: #ba0017;
}
.grid .cols-5 li a{
	font-family: arial;
	font-size: 12px;
}
.grid .cols-5 header h3{
	font-size: 13px;
}
.grid .set-border-top li{
	border-top: 1px solid #999 ;
}
.grid ul.set-border-top li:first-child{
	padding-top: unset;
	border-top: unset;
}
.grid ul.liStyle-none li:last-child{
	padding-bottom: unset;
}
.grid .set-border-top li{
	border-top: 1px solid #999;
}
/*
* style for video
*/
.videos-panel{
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #333;
}
.videos-panel .videos{
	width: 100%;
	height: 390px;
	
}
.videos-panel h3{
	color: #fff;
}
/* 
+ style lien-quan
*/
.lien-quan li p a{
	font-family: arial-regular;
	color: #000000;
	font-size: 15px;
}
.lien-quan li p,.lien-quan li h3{
	padding: 0px 8px 0px 8px;
}
.lien-quan li{
	border-bottom: 1px solid #cccccc;
	padding: 5px 0px 5px 0px;
}
/* 
* style for title-bar
*/
.title-bar li{
	width: 49.2%;
	background-color: #dfdfdf;
	text-align: center;
	padding: 3px 0px 3px 0px;
}
.title-bar li:first-child{
	background-color: #005689;
}
.title-bar li:first-child a{
	color:#fff;
}
.title-bar li a{
	font-size: 12px;
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
}
.list li{
	margin-bottom: 20px;
}
.list .full-item span,.list .full-item img{
	float: left; 
	display: inline-block;
}
.list .full-item span{
	font-size: 14px;
	width: 60%;
	box-sizing: border-box;
	padding-left: 8px;
}
/* 
* /style for title-bar
*/

.footer-menu-bar{
	background-color: #f6f6f6;
	box-sizing: border-box;
	padding: 0px 10px 0px 10px;
}
.footer-menu-bar ul{
	margin-top: 5px;
}
.footer-menu-bar ul li{
	padding: 0px 5px 0px 5px;
	border-left: 1px solid #ccc;
}
.footer-menu-bar ul li:first-child{
	border-left: none;
}
.footer-menu-bar ul li a{
	font-size: 14px;
	font-family: arial;
	color: #000;
}
/*
* style for logo
*/
.logo{
	width: 100%;
	min-height: 1px;
	/*background-color: red;*/
}
.mini-logo img{
	width: 115px;
	margin-top: 5px;
}
.normal-logo img{
	width: 196px;
	margin-top: 25px;
}

/* 
* before and after content
*/
b.bf:before{
	content: "✤";
	color: #dc002a;
	display: flex;
	float: left;
	clear: left;
	height: 100px;
	margin-right: 10px;
}
b.pen:before{
	content:"✎";
	color: #ff0000;
}