*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Times New Roman;
}
#swapper{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
#swapper #header{
	width: 100%;
}
#swapper #header #header1{
	width: 970px;
	height: 50px;
	margin: 0 auto;
}
#swapper #header #header1 #img_home{
	position: relative;
	width: 160px;
	height: 36px;
	margin-top: 5px;
}
#swapper #header #header1 #search{
	
	box-sizing: border-box;
	border: 1px solid #ddd;
	height: 32px;
	width: 360px;
	margin-top: -35px;
	margin-left: 300px;
}
#swapper #header #header1 #search input{
	margin-right: 5px;
	width: 315px;
	height: 30px;
	padding-left: 10px;
	border: none;
	margin-top: 0px;
}

.clear{
	clear:both;
}
#swapper #header #header1 #search img{
/*	background-color: red;*/
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#swapper #header #header1 #img_user{
	float: right;
	margin-left: 900px;
	margin-top: -24px;
	width: 20px;
	height: 20px;
	position: absolute;
}
#swapper #header #header1 #img_mobile{
	float: right;
	margin-left: 940px;
	margin-top: -24px;
	width: 20px;
	height: 20px;
	position: absolute;
}
#menu{
	height: 30px;
	background-color: #20AEB0;
	width: 100%;
}
#menu ul{
	list-style-type: none;
	text-align: left;
	width: 970px;
	font-size: 13px;
	margin: 0 auto;
}
#menu ul li{
	float: left;
	/*display: inline-block;*/
	position: relative;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
}
#menu #home{
	margin-top: -10px;
	margin-bottom: -7px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
#menu ul li:hover{
	background-color: #0DA183;
}

/*Menu cap 2*/


#menu ul ul li{
	float: none;
	border: none;
	border-bottom: 1px solid #20AEB0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
}

#menu ul ul{
	position: absolute;
	top:100%;
	left: 0;
	width: 350%;
	display: none;
	z-index: 1000;
	background-color: #20AEB0;
	text-align: left;
}
#content{
	width: 970px;
	height: auto;
	margin: 15px auto;
}
#content #ad{
	width: 100%;
	min-height: 90px;
	text-align: center;
}
#main{
	width: 610px;
	height: auto;
	float: left;
	margin-top: 15px;
}
#top1{
	width: 100%;
	margin-top: 3px;
	margin-bottom: 15px;
}
#box-top1{
	width: 610px;
}
#box-top1 img{
	width: 610px;
	max-height: 340px;
	position: relative;
}
#box-top1 p{
	font-size: 30px;
	width: 100%;
	height: 76px;
}
#box-top1 a{
	text-decoration: none;
}
#box-top1 .video{
	float: right;
	z-index: 1;
	background-color: white;
	margin-top: -35px;
	margin-right: 5px;
	width: 25px;
	height: 20px;
}
.list{
	list-style-type: none;
	font-size: 12px;
}
.list li{
	display: inline-block;
}
.list li a{
	text-decoration: none;
	color: blue;
}
.top2-1{
	position: relative;
	width: 32%;
	height: 235px;
	float: left;
	margin-right: 2%;
}

.top2-1 img{
	width: 100%;
}
.top2-1 .title{
	text-decoration: none;
	color: blue;
}
.top2-2{
	float: left;
	width: 32%;
	height: 235px;
	margin-left: 0px;
}
.top2-2 a{
	text-decoration: none;
	color: blue;
}
.top2-2 img{
	width: 100%;
}
