*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Times New Roman;
}
#swapper{
	margin: 0 auto;
	width: 100%;
	height: auto;
	
}

#swapper #header{
	width: 100%;
}
#swapper #header #header1{
	width: 970px;
	height: 50px;
	margin: 0 auto;
}
#swapper #header #header1 #img_home{
	position: relative;
	width: 160px;
	height: 36px;
	margin-top: 5px;
}
#swapper #header #header1 .search{
	
	box-sizing: border-box;
	border: 1px solid #ddd;
	height: 32px;
	width: 360px;
	margin-top: -35px;
	margin-left: 300px;
}
#swapper #header #header1 .search input{
	margin-right: 5px;
	width: 315px;
	height: 30px;
	padding-left: 10px;
	border: none;
	margin-top: 0px;
}

.clear{
	clear:both;
}
#swapper #header #header1 .search img{
/*	background-color: red;*/
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#swapper #header #header1 #img_user{
	float: right;
	margin-left: 900px;
	margin-top: -24px;
	width: 20px;
	height: 20px;
	position: absolute;
}
#swapper #header #header1 #img_mobile{
	float: right;
	margin-left: 940px;
	margin-top: -24px;
	width: 20px;
	height: 20px;
	position: absolute;
}
#menu{
	height: 30px;
	background-color: #20AEB0;
	width: 100%;
	position: sticky;
	top: 0;
}
#menu ul{
	list-style-type: none;
	text-align: left;
	width: 970px;
	font-size: 13px;
	margin: 0 auto;
}
#menu li.home{
	background-color: red;
}
#menu ul li{
	float: left;
	/*display: inline-block;*/
	position: relative;
	padding: 7px 5px;
}
#menu ul .home{
	padding-bottom:1.5px;
	padding-top: 5px;
}

#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
#menu ul li:hover{
	background-color: #0DA183;
}

/*Menu cap 2*/


#menu ul ul li{
	float: none;
	border: none;
	border-bottom: 1px solid #20AEB0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
}

#menu ul ul{
	position: absolute;
	top:100%;
	left: 0;
	width: 350%;
	display: none;
	z-index: 10;
	background-color: #20AEB0;
	text-align: left;
}
#content{
	width: 970px;
	height: auto;
	margin: 15px auto;
}
#content #ad{
	width: 100%;
	min-height: 90px;
	text-align: center;
}
#main{
	width: 610px;
	height: auto;
	float: left;
	margin-top: 15px;
}
#top1{
	width: 100%;
	margin-top: 3px;
	margin-bottom: 15px;
}
#box-top1{
	width: 610px;
}
#box-top1 img{
	width: 610px;
	max-height: 340px;
	position: relative;
	border-radius: 5px;
}
#box-top1 p{
	font-size: 30px;
	width: 100%;
	height: 76px;
}
#swapper a{
	text-decoration: none;
}

#box-top1 .video{
	float: right;
	background-color: white;
	border-radius: 10px;
	margin-top: -35px;
	margin-right: 5px;
	width: 25px;
	height: 20px;
}
.list{
	list-style-type: none;
	font-size: 15px;
	margin-top: 5px;
}
.list li{
	display: inline-block;
}
.list li a{
	text-decoration: none;
	color: #4b4b4b;
}

.list li:last-child{
	width: 15px;
	height: 15px;
	margin-left: 2px;
}
.list img{
	height: 13px;
	float: left;
	margin-left: -295px;
	margin-top: 5px;
	display: none;
	position: relative;
}

#box-top1:hover p{
	color: red;
}
#box-top1:hover .list img{
	display: block;
}
.list a:hover{
	color:red;
}
.source{
	padding-bottom: 5px;
}
.top2-1{
	position: relative;
	width: 32%;
	height: 235px;
	float: left;
	margin-right: 2%;
}
#top2{
	width: 100%;
	height: 235px;
	border-bottom: 1px solid #4b4b4b;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.top2-1 img{
	width: 100%;
	border-radius: 5px;
}

.top2-2{
	float: left;
	width: 32%;
	height: 235px;
	margin-left: 0px;
}

.top2-2 img{
	width: 100%;
	border-radius: 5px;
}
.title{
	margin-top: 5px;
}
.title a{
	text-decoration: none;
}
.news-frame{
	width: 610px;
	height: 105px;
	float: none;
	border-bottom: 1px solid #4b4b4b;
	padding-bottom: 15px;
	padding-top:10px;
}
.news-frame:first-child{
	padding-top: 0px;
}
.news-frame img{
	width: 151px;
	height: 101px;
	float: left;
	clear: left;
	margin: 4px 15px 0 0;
	border-radius: 5px;
}
.news-frame h4{
	font-size: 20px;
}


#sidebar{
	width: 330px;
	margin-top: 15px;
	float: right;
	height: auto;
}
.sbnews{
	width: 100%;
	height: 63px;
	padding-bottom: 10px;
}
.img_sbnews img{
	width: 60px;
	height: 60px;
	float: left;
	margin: 3px 10px 0 0;
	border-radius: 5px;
}
.cntsbnews{
	font-size: 19px;
}
.cntsbnews a{
	text-decoration: none;
}
.adsb{
	width: 100%;
	height: auto;
}
.adsb1{
	margin: 55px 0 15px 0;
}

.video_news{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
}

.tienich{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 100%;
	height: 450px;
	border: 1px solid red;
	background-color: #F7F7F7;
}
.tienich .tienich_header{
	background-color: #2FA1B3;
	width: 100%;
	margin-top: 0px;
	font-size: 20px;
	padding: 5px 0;
	float: left;
	height: auto;
}
#show{
	float: right;
	/* border: 1px solid red; */
	width: 125px;
	margin-right: 20px;
	height: 20px;
	margin-top: 5px;

}
#weather_location{
	float: right;
	margin-top: 40px;
	margin-right: -125px;
}
.weather_info{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.nhietdo{
	position: absolute;
	font-size: 25px;
	margin-left: 50px;
	margin-top: -45px;
}
.temp{
	position: absolute;
	margin-left: 50px;
	margin-top: -15px;
}
.info{
	position: absolute;
	margin-left: 50px;
	margin-top: 5px;
	font-size: 15px;
}
#test{
	width: 100%;
	height: 140px;
	margin-top: 0;
}
.tienich_list{
	margin-left: 20px;
}
.tienich_list ul{
	list-style-type: none;
}
.tienich_list ul li a{
	padding: 5px 0;
}

.tienich_list a{
	float: left;
	width: 150px;
}
#active{
	width: 60px;
	height: 430px;
	float: left;
	margin-left: -70px;
}

#active a.nong{
	color: red;
	border-bottom: 1px solid red;
	padding-bottom: 5px;
}
#active a{
	padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    display: block;
	width: 60px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #ddd;
}
#active a img{
	margin-bottom: 5px;
	width: 30px;
	height: 30px;
}
#active span{
	display: block;
}

#footer{
	width: 100%;
	margin: auto;
	
	float: right;
}
.borft{
	background-color: #20AEB0;
	width: 100%;
}
.footer1{
	width: 970px;
	height: 50px;
	margin: auto;
}
.logo{
	
	background-image: url("../images/img_logo.png");
	display: inline-block;
	vertical-align: middle;
	background-size: 160px 72px;
	width: 160px;
	height: 36px;
	padding-bottom: -15px;
}
.searchft{
	float: right;
	box-sizing: border-box;
	border: 1px solid #ddd;
	height: 32px;
	width: 360px;
	margin-top: 10px;
	margin-left: 300px;
	background-color: white;
}

.searchft input{
	margin-right: 5px;
	width: 315px;
	height: 30px;
	padding-left: 10px;
	border: none;
	padding-bottom: -5px;
}
.searchft img{
		background-color: white;
		width: 20px;
		height: 20px;
		float: right;
		margin-top: 5px;
		margin-right: 5px;
	}
.footer2{
	width: 970px;
	margin: 0 auto;
	padding-top: 10px;
}
/* .tag ul{
	list-style-image: url("../images/circle.png") ;
} */
.footer2 .tag{
	width: 100%;
	height: 100px;
	font-size: 13px;
	border-bottom: 0.1px solid #4b4b4b;
	margin-bottom: 15px;
}
.tag ul li{
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	padding-bottom: 5px;
	padding-left: 7px;
}
.tag ul li:first-child{
	list-style: none;
	margin-left: 0;
}
.cntft{
	float: left;
	font-size: 13px;
	margin-top: 15px;
}
.cntft h4{
	font-weight: normal;
}
.version{
	float: left;
	margin-right: 15px;
}
.version ul{
	list-style-type: none;
}
.version ul li{
	padding-top: 7px;
}

.contact{
	float: left;
	margin-right: 15px;
}
.contact ul{
	list-style-type: none;
}
.contact ul li{
	padding-top: 7px;
}

.user{
	float: left;
}
.user ul{
	list-style-type: none;
}
.user ul li{
	padding-top: 7px;
}
.copyright{
	float: right;
	margin-top: 15px;
}
.copyright p{
	font-size: 12px;
	text-align: right;
}
.tieude{
	width: 100%;
	height: 30px;
	border-left: 5px solid #2FA1B3;
	background-color: #F9F9F9;
	margin-bottom: 15px;
}
.tieude .topic{
	float: left;
	height: 20px;
	margin-top: 2px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 30px;
}
.tieude .hotandnew{
	float: right;
	padding-top: 7px;
	height: 100%;
	margin-right: 10px;
}
.hot{
	background-color: #d6d6d6;
	padding: 6px 4px;
}
.new{
	background-color:#d6d6d6;
	padding: 6px 4px;
}


.tieudiem{
	width: 100%;
	height: 30px;
	border-left: 5px solid #2FA1B3;
	background-color: #F9F9F9;
	margin-bottom: 0px;
	margin-top: 10px;
}
.tieudiem .tentieudiem {
	float: left;
	height: 20px;
	margin-top: 2px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 30px;
	color: #bfffd0;
}

#swapper a{
	color: #4b4b4b;
}
#swapper a:hover{
	color: red;
}
.sbad{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
/*Test Sticky JS*/
.fixed-nav #menu {
	position: fixed;
	top:0;
	z-index: 1;
}

.fixed-nav #active{
	position: fixed;
	z-index: 1;
	top: 50px;
}