*{
	margin: 0px;
	padding: 0px;
}
#Body{
	width: 1000px;
	height: 1000px;
	margin: auto;
	background-color: #cccccc;
}
#Header{
	width: 1000px;
	height: 200px;
}
#Logo{
	width: 1000px;
	height: 150px;
	background-color: #cccccc;
}
#Menu{
	width: 1000px;
	height: 50px;
	background: #6B3A04;
	border-radius: 10px;
}
ul{
	list-style-type: none;
	background: #6B3A04;
	padding: 10px;
	border-radius: 10px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
a:hover{
	color: #ECEB34;
}
#MenuLv1 > li{
	margin-right: 15px;
}
#MenuLv1 li{
	/*margin: 10px;*/
	padding: 14px;
	background-color: #B45F0B;
	border-radius: 10px;
	text-align: center;
	width: 150px;
	float: left;
	position: relative;
}
#MenuLv1 > li:first-child{
	margin-left: 15px;
}
#MenuLv1 li:hover{
	background-color: orange;
	border-top: 5px orangered solid;
	transition: all 0.5s 0s linear;
}
/*#MenuLv1 li:hover > ul{
	display: block;
}*/
#MenuLv2 {
	position: absolute;
	display: none;
	top: 100%;
	left: 0%;
}
#MenuLv2 li{
	position: relative;
	margin: 10px 0px 10px 0px;
}
#MenuLv3{
	display: none;
	top: 0px;
	left: 100%;
	position: absolute;
}
#MenuLv3 li{
	
}