*{
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif
}
#khung{
    width: 800px;
    height: 500px;
    background-color: white;
}
#TopTitle{
    width: 790px;
    height: 60px;
    background-color: whitesmoke;
    margin: 5px 5px;
}
#TopTitle p{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#boxtrai{
    width: 520px;
    height: 350px;
    float: left;
    background-color: whitesmoke;
    margin-left: 5px;
}
#tieude{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}
.txt{
    width: 90px;
    float: left;
}
.inputtxt{
    border-radius: 5px;
    border-style: groove;
}
#lket{
    width: 520px;
    margin-left: 10px;
    margin-top: 10px;
}

#noidung{
    margin-left: 10px;
    margin-top: 20px;
    height: 170px;
}
#lichdang{
    margin-left: 10px;
    /* margin-top: 10px; */
}
#lichdang label{
    margin-right: 10px;
}
#nut button{
    margin-left: 10px;
    margin-top: 10px;
}


#boxphai{
    width: 260px;
    height: 350px;
    float: right;
    background-color: whitesmoke;
    margin-right: 5px;
}
#inputtt{
    padding-top: 5px;
    margin-left: 10px;

}
#tag{
    padding-top: 5px;
    margin-left: 10px;
}
#tag a{
    text-decoration: none;
}
label.error {
    display: inline-block;
    color:red;
    width: 200px;
    font-size: 13px;
}
#khungtag{
    width: 250px;
    height: 60px;
    margin-top: 5px;
    overflow: auto;
}
